/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;

}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-title {
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header styles */

.header {
    background-color: #FFF8F3;
}

.banner {
    padding: 30px 30px 30px 160px;
    display: flex;
    align-items: center;
}

.banner .profile-pic {
    width: 584px;
    height: 676px;

}