/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;

}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-title {
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header styles */

.header {
    background-color: #FFF8F3;
}

.banner {
    padding: 30px 0px 0px 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner .profile-pic {
    width: 584px;
    height: 676px;

}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;

}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    width: 585px;
    margin-bottom: 30px;
}

.profile-pic {
    padding-left: 150px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;

}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;
    font-weight: 400;

}

.info-desc {
    color: #474747;
    font-size: 20px;
    font-weight: 700;

}